.filters {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

.filters p {
    padding: 5px 15px;
    background-color: rgb(105, 105, 105);
    cursor: pointer;
    color: #fff;
    text-transform: capitalize;
}

.filter p:hover {
    background-color: #4e4e4e;
}